# LAB 01 - Ayrton da Silva Iseri && Samuel Cruz Fernandes

## Preparação dos dados
Scripts para preparação e tratamento dos dados

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

TRAIN_PATH = './../data/train.csv'
TEST_PATH = './../data/test.csv'

In [36]:
train_data = pd.read_csv(TRAIN_PATH, sep = ';', dtype={'year_of_publication': int})
test_data = pd.read_csv(TEST_PATH, sep = ';', dtype={'year_of_publication': int})

train_data.head()

,Unnamed: 0.1,Unnamed: 0,user_id,age,isbn,rating,book_title,book_author,year_of_publication,publisher,img_l,Language,Category,city,state,country
0,98,98,9,34.7439,0440234743,0,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,en,['Fiction'],germantown,tennessee,usa
1,99,99,243,34.7439,0440234743,0,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,en,['Fiction'],arden hills,minnesota,usa
2,100,100,388,35.0000,0440234743,0,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,en,['Fiction'],nashville,tennessee,usa
3,103,103,3363,29.0000,0440234743,0,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,en,['Fiction'],knoxville,tennessee,usa
4,105,105,6795,31.0000,0440234743,0,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,en,['Fiction'],portland,oregon,usa

Podemos determinar as características de um livro apenas se fazer valer de seu ID. Desta forma, de cara, as variáveis explicativas ```book_title``` e ```img_l``` se mostram desnecessárias.

Além disso, como os algoritmos de aprendizado propostos para o exercício não envolvem conceitos de clusterização (isto é, classificar pessoas em grupos semelhantes para determinar recomendações e previsões), variáveis que poderiam ser úteis para identificação de usuários ou livros podem ser dispensadas. Como: ```user_id``` e ```isbn```. Pois elas não contribuem para o aprendizado do modelo, dadas as suas características de identificação e não descrição.

Por fim, as colunas atribuidas como ```Unnamed *``` devem ser descartadas pois não agregam em interpretabilidade ao modelo.

In [37]:
columns_to_drop = ['Unnamed: 0.1', 'Unnamed: 0', 'user_id', 'isbn', 'book_title', 'img_l']

train_data.drop(labels=columns_to_drop, axis=1, inplace=True)
test_data.drop(labels=columns_to_drop, axis=1, inplace=True)

train_data.head()

,age,rating,book_author,year_of_publication,publisher,Language,Category,city,state,country
0,34.7439,0,John Grisham,1999,Dell,en,['Fiction'],germantown,tennessee,usa
1,34.7439,0,John Grisham,1999,Dell,en,['Fiction'],arden hills,minnesota,usa
2,35.0000,0,John Grisham,1999,Dell,en,['Fiction'],nashville,tennessee,usa
3,29.0000,0,John Grisham,1999,Dell,en,['Fiction'],knoxville,tennessee,usa
4,31.0000,0,John Grisham,1999,Dell,en,['Fiction'],portland,oregon,usa

In [46]:
train_data.groupby('Category')['Category'].count().sort_values().tail(10)

Category
['Nature']                         302
['FICTION']                        325
['Business & Economics']           350
['Self-Help']                      455
['History']                        665
['Humor']                          701
['Biography & Autobiography']     2879
['Juvenile Fiction']              3341
9                                44262
['Fiction']                      72105
Name: Category, dtype: int64

In [47]:
train_data.groupby('rating')['rating'].count().sort_values().tail(10)

rating
2       342
3       680
4       996
6      4055
5      4810
7      9039
9      9834
10    10105
8     13756
0     77354
Name: rating, dtype: int64

## EDA (Exploratory Data Analysis) e data visualization
Scripts para exploração e visualização dos dados

In [2]:
#Scripts

## KNN || Decision Tree
Scripts para criação de model em árvore de decisão ou K-nearest-neighbors

In [3]:
#Scripts

## Classificador a priori
Scripts para construção de classificador a priori (zero regra)

In [4]:
#Scripts

## Análise de performance dos modelos
Scripts para comparar eficiência e resultado dos diferentes modelos construidos (KNN/Decision Tree vs. Priori classifier)

In [5]:
#Scripts